<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="./assets/image1.png"
                    class="img-fluid" alt="Dear Diary,">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 text-center m-3 ">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <!-- Email input -->
                    <h3 class="m-3">Login</h3>
                    <div class="form-outline mb-2">
                        <input formControlName="userid" type="text" id="uid" name="uname" class="form-control form-control"  placeholder="Username"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-2">
                        <input formControlName="psw" type="password" id="psw" name="psw" class="form-control form-control" placeholder="Password"/>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="ylbtn btn btn-block m-3 ps-4 pe-4">Sign in</button>
                    <div class="d-flex justify-content-around align-items-center mb-4">


                        <!-- Register -->
                        <label for="" class="m-4">Doesn't Have An Account ? <a href="/register">Sign Up Now !</a></label>

                    </div>


                </form>
            </div>
        </div>
    </div>
</section>