
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
      <h5><i class="fa-solid fa-feather"></i> Dear Diary,</h5>
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">Diary
            <i class="fa-solid fa-book"></i>
        </a>
        <a class="text-reset me-3" href="#">Delete
            <i class="fa-solid fa-trash-can"></i>
        </a>
        <a class="text-reset me-3" href="#">Logout
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>

      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-md-8 col-lg-7 col-xl-6">

                <form>
                    <!-- Email input -->
                    <h5 class="">Dear Diary,</h5>
                    <div class="mb-2">
                        <textarea name="" id="" cols="90" rows="23"></textarea>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="ylbtn btn btn-block ps-4 pe-4">Post</button>
 
               </form>
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 text-center  ">

                <img src="./assets/image2.jpg"
                    class="img-fluid text-center" alt="Dear Diary,">
            </div>
        </div>
    </div>
</section>


  <footer class="text-center text-white p-2">deardiary@2023</footer>